---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { BLOG } from "@consts";

const data = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-10 gap-x-0 items-start pt-0">
      <aside class="md:col-span-3 pb-6 md:pb-16 md:sticky md:top-24">
        <div class="shadow-ascii">
          <div
            class="relative bg-orange-50 dark:bg-slate-950 z-20 pb-8 border border-black/10 dark:border-white/10"
          >
          <div class="animate">
            <BackToPrev href="/" hideShadow={true} hideBorder={true}> Back to home </BackToPrev>
          </div>
          <div class="px-4">
            <div class="h-20 flex items-center">
              <h1 class="animate font-semibold text-black dark:text-white text-3xl">
                Blog
              </h1>
            </div>
            <p class="animate mt-4 text-sm opacity-60 font-serif">
              Thoughts on design, technology, and life.
            </p>
          </div>
        </div>
      </div>
      </aside>

      <div class="md:col-start-5 md:col-span-6 pb-16">
        <div class="space-y-12">
          {
            years.map((year) => (
              <section class="animate flex flex-col gap-8">
                {posts[year].map((post, index) => (
                  <div class="grid grid-cols-1 md:grid-cols-6 gap-x-0">
                    <div class="md:col-span-1">
                      {index === 0 && (
                        <div class="h-20 flex items-center pl-2">
                          <span class="font-semibold text-black dark:text-white uppercase tracking-wider text-sm opacity-50">
                            {year}
                          </span>
                        </div>
                      )}
                    </div>
                    <div class="md:col-span-5">
                      <ArrowCard entry={post} />
                    </div>
                  </div>
                ))}
              </section>
            ))
          }
        </div>
      </div>
    </div>
  </Container>
</PageLayout>
