---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import ArrowCardThumbnail from "@components/ArrowCardThumbnail.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-10 gap-x-0 items-start pt-0">
      <aside class="md:col-span-3 pb-6 md:pb-16">
        <div
          class="relative bg-[#faf9f6] dark:bg-slate-950 border border-black/[0.05] dark:border-white/[0.05] z-20 pb-8 md:-mr-px px-4 -mt-px"
        >
          <div class="horizontal-grid-line -top-px"></div>
          <div class="h-20 flex items-center">
            <h4 class="animate font-semibold text-black dark:text-white">
              Hi, I'm Antoine <span class="text-xl">👋</span>
            </h4>
          </div>
          <article class="space-y-4">
            <p class="animate">
              I am a passionate <b>Senior Product Designer</b>, with a strong
              engineering background and <b>7 years</b> of experience in product and
              design.
            </p>
            <p class="animate text-sm opacity-80 font-serif">
              A few years back, I decided to dedicate my time to merge design
              and engineering and create clear, simple, and meaningful <b
                >user systems</b
              >, that overperform without compromising the experience.
            </p>
            <p class="animate text-sm opacity-80 font-serif">
              I'm also a definitive foodie, have been cooking for years, and
              recently passed a French culinary license! 🧑‍🍳
            </p>
          </article>

          <div class="animate pt-6 space-y-4">
            <h5
              class="font-semibold text-black dark:text-white text-sm uppercase tracking-wider"
            >
              Connect
            </h5>
            <ul class="flex flex-wrap gap-2 text-sm">
              {
                SOCIALS.map((SOCIAL) => (
                  <li class="flex gap-x-2 text-nowrap">
                    <Link
                      href={SOCIAL.HREF}
                      external
                      aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                    >
                      {SOCIAL.NAME}
                    </Link>
                    {"/"}
                  </li>
                ))
              }
              <li class="line-clamp-1">
                <Link
                  href={`mailto:${SITE.EMAIL}`}
                  aria-label={`Email ${SITE.NAME}`}
                >
                  {SITE.EMAIL}
                </Link>
              </li>
            </ul>
          </div>
        </div>
      </aside>

      <div class="md:col-start-5 md:col-span-6 pb-16 space-y-24">
        <section class="animate">
          <div class="h-20 flex items-center justify-between pl-4">
            <h5
              class="font-semibold text-black dark:text-white uppercase tracking-wider text-sm"
            >
              Recent projects
            </h5>
            <Link href="/projects" class="text-sm"> See all projects </Link>
          </div>
          <ul class="flex flex-col gap-8 m-0 p-0 list-none">
            {
              projects.map((project) => (
                <li class="animate">
                  <ArrowCardThumbnail entry={project} />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate">
          <div class="h-20 flex items-center justify-between pl-4">
            <h5
              class="font-semibold text-black dark:text-white uppercase tracking-wider text-sm"
            >
              Work Experience
            </h5>
            <Link href="/work" class="text-sm"> See all work </Link>
          </div>
          <ul class="flex flex-col space-y-10">
            {
              work.map((entry) => (
                <li class="animate relative bg-[#faf9f6] dark:bg-slate-950 border-x border-black/[0.05] dark:border-white/[0.05] z-10 px-4 py-4 md:-mr-px">
                  <div class="horizontal-grid-line -top-px" />
                  <div class="flex flex-wrap items-baseline gap-x-1">
                    <div class="font-semibold text-black dark:text-white">
                      {entry.data.company}
                    </div>
                    <div class="text-xs opacity-60">
                      {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                    </div>
                  </div>
                  <div class="text-sm opacity-75 mb-4 uppercase tracking-wide font-medium">
                    {entry.data.role}
                  </div>
                  <article class="prose-sm">
                    <entry.Content />
                  </article>
                  <div class="horizontal-grid-line -bottom-px" />
                </li>
              ))
            }
          </ul>
        </section>

        <section class="animate">
          <div class="h-20 flex items-center justify-between pl-4">
            <h5
              class="font-semibold text-black dark:text-white uppercase tracking-wider text-sm"
            >
              Latest posts
            </h5>
            <Link href="/blog" class="text-sm"> See all posts </Link>
          </div>
          <ul class="flex flex-col gap-8 m-0 p-0 list-none">
            {
              blog.map((post) => (
                <li class="animate">
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
      </div>
    </div>
  </Container>
</PageLayout>
