---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { PROJECTS } from "@consts";
import ArrowCardThumbnail from "@components/ArrowCardThumbnail.astro";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-10 gap-x-0 items-start pt-0">
      <aside class="md:col-span-3 pb-6 md:pb-16 md:sticky md:top-24">
        <div class="shadow-ascii">
          <div
            class="relative bg-orange-50 dark:bg-slate-950 z-20 pb-8 border border-black/10 dark:border-white/10"
          >
          <div class="animate">
            <BackToPrev href="/" hideShadow={true} hideBorder={true}> Back to home </BackToPrev>
          </div>
          <div class="px-4">
            <div class="h-20 flex items-center">
              <h1 class="animate font-semibold text-black dark:text-white text-3xl">
                Projects
              </h1>
            </div>
            <p class="animate mt-4 text-sm opacity-60 font-serif">
              A collection of projects I've worked on, ranging from full-scale product redesigns to experimental prototypes.
            </p>
          </div>
        </div>
      </div>
      </aside>

      <div class="md:col-start-5 md:col-span-6 pb-16">
        <ul class="flex flex-col gap-8 m-0 p-0 list-none">
          {
            projects.map((project) => (
              <li class="animate">
                <ArrowCardThumbnail entry={project} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </Container>
</PageLayout>
